<h1>All Products</h1>

<% @products.order(:name).each do |product| %>
    <div class="row">
      <div class="col s12 m12 center-align">
        <div class="card">
          <div class="card-image product-pic">
            <img src="<%= product.img %>">
          </div>

          <div class="card-action">
            <h6> <%= link_to product.name, product_path(product) %> </h6>
            <%= link_to like_product_path(product), method: :put do %>
              Like
              <%= product.get_upvotes.size %>
            <% end %>
            <%= link_to dislike_product_path(product), method: :put do %>
              Dislike
              <%= product.get_downvotes.size %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>
