
 <div class="col s12 m7">
     <h2 class="header"> <%= @product.name %> </h2>
     <div class="card horizontal">
       <div class="card-image">
         <img src=" <%= @product.img %> ">
       </div>
       <div class="card-stacked">
         <div class="card-content">
           <p>Cost:  $<%= @product.cost %> </p>
           <p>Country of Origin: <%= @product.origin %> </p>
         </div>
         <div class="card-action">
           <a href="/">Back To All Products</a>
           <%= link_to "Edit", edit_product_path(@product) %>
           <%= link_to "Delete", product_path(@product),
           :data => {:confirm => "Are you sure?",
             :method => "delete"} %>
         </div>
       </div>
     </div>
   </div>
