<h1><%= @product.name %> Detail </h1>

<h4>Cost: $<%= @product.cost %> </h4>
<h4>Country of Origin: <%= @product.origin %> </h4>
<img src="<%= @product.img %>" alt="A Photo of Gummy Bears" >
<br>
<hr>

<%= link_to "Edit", edit_product_path(@product) %>   |  
<%= link_to "Delete", product_path(@product),
      :data => {:confirm => "Are you sure?",
               :method => "delete"} %>
